@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {

}
footer {
  clear: left;
  background-color: #FFF;
  height: 60px; width: 100%;
  display: flex;
  border-top: 1px solid #CCCCCC;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #484848;
  text-align: center;
}
